.box {
    /*display: none;    ẩn mất ko gian*/
    /*visibility: hidden;       ẩn ko mất ko gian*/
    /*opacity: 0;       ẩn dạng tàng hình, thật chất vẫn ở đó*/
}
span {
    /*khi sử dụng inline-block có thể set width, height, padding, margin*/
    display: inline-block;
    border: 1px solid red;
    width: 100px;
    /*height: 50px;*/
    padding-block: 20px;
    margin-block: 20px;
}
div{
    display: none;
    border: 1px solid red;
}