header {
    margin: 20px 30px;
}

#header-top {
    background-color: #FF9500;
    height: 55px;
    border-radius: 8px;
    font-size: 18px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-top img {
    margin-left: 23px;
}

#header--logo {
    background-image: url("../images/logo.svg");
    background-color: #FF9500;
    height: 54px;
    width: 54px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
}

#header-bottom {
    width: 1600px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: #F1F1F3 solid 1px;
}

#header-bottom div {
    display: flex;
    align-items: center;
}

#header-bottom nav {
    margin-left: 50px;
}

#header-bottom ul {
    display: flex;
}

#header-bottom ul li {
    list-style: none;
    padding: 14px 24px;
}