/* * là chọn tất cả thẻ html */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
}
.modal-dialog{
    position: absolute;
    left: 0;
    right: 0;
    top: 5%;
    background: white;
    border: 1px solid #ccc;
    max-width: 80%;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*margin-inline = margin-left + margin-right*/
    margin-inline: auto;
    padding: 15px;
    z-index: 1001;
}
.modal-dialog .modal-heading {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.modal-dialog .modal-heading h2{
    display: inline-block;
    width: 95%;
}
.modal-overlay{
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
