* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    background-color: #1aff00;
    width: 100px;
    height: 100px;
    color: white;
    font-size: 32px;
}

body{
    display: flex;
}