        a {
            color: black;
            text-decoration: none
        }
        li {
            list-style: none;
           /* list-style-type: upper-alpha; */
        }

        ul li: last-child {
            background-color:red;
        }